@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Galbaat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Galbaat.styles.css" asp-append-version="true" />

    <style>
        .background-radial-gradient {
            background-color: hsl(218, 41%, 15%);
        }
        /* Add hover effect */
        #sidebar .list-unstyled .nav-link{
          color: hsl(218, 81%, 75%);
          font-size: 1.1rem;
        }
        #sidebar .list-unstyled .nav-link:hover {
            background-color: hsl(218, 81%, 95%);
            color:black;
        }
        .logout-a{
            color: hsl(218, 81%, 75%);
            font-size: 1.1rem;
        }
        .logout-a:hover{
            background-color: hsl(218, 81%, 95%);
            color:black;
        }
    </style>
</head>
<body>
        @if(SignInManager.IsSignedIn(User)) {
        <div class="wrapper">
            <nav id="sidebar">
                    <div>
                        <div >
                            <a class=" nav-link" style="font-size:1.6rem;color: hsl(218, 81%, 95%);margin: 5px" asp-action="Index" asp-controller="Home">Galbaat</a>
                        </div>
                        <ul class="list-unstyled components">
                            <li >
                                
                                <a class="nav-link"  asp-action="Index" asp-controller="Home"> <i class="fa-solid fa-message me-3 icon-size"></i>All Posts</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User)) {
                            <li>
                                <a class="nav-link"  asp-action="Following" asp-controller="Home"><i class="fa-solid fa-envelope me-3 icon-size"></i> Following</a>
                            </li>
                            <li>
                                <a class="nav-link"  asp-controller="Home" asp-action="Liked" ><i class="fa-solid fa-heart me-3 icon-size"></i>Liked Posts</a>
                            </li>
                            <li>
                                <a class="nav-link"  asp-controller="AppUsers" asp-action="Details" asp-route-id="@UserManager.GetUserId(User)"><i class="fa-solid fa-user me-3 icon-size"></i> View profile</a>
                            </li>
                            }
                        </ul>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a  class="nav-link logout-a" asp-action="Logout" asp-controller="Account">
                            <i class="fa-solid fa-arrow-right-from-bracket fa-flip-horizontal me-3"></i>
                            Logout
                        </a>
                    }
            </nav>
            <div id="content">
                @RenderBody()
            </div>
        </div>
        }
        else{
        <section class="background-radial-gradient d-flex flex-row align-items-center" style="min-height: calc(100vh);">

        @RenderBody()
        </section> 
        }

    <script src="https://kit.fontawesome.com/5d4ea46f8e.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
