.textarea {
    width: 100%;
    padding: 16px;
    background-color: hsl(218, 41%, 15%);
    color:hsl(218, 81%, 85%);
    border: none;
    resize: none; 
    border-radius: 10px;
      
}
.textarea::placeholder{
    color:hsl(218, 81%, 85%);
    
}


.post-btn{
    color: hsl(218, 81%, 85%);
    background-color: hsl(218, 41%, 15%);
}

.post-btn:hover{
    background-color: hsl(218, 81%, 85%);
    color: hsl(218, 41%, 15%);
}
.modal-post-btn{
    background-color: hsl(218, 81%, 85%);
    color: hsl(218, 41%, 15%);
}

.modal-post-btn:hover{
    color: hsl(218, 81%, 85%);
    background-color: hsl(218, 41%, 15%);
    
}

.post-card{
    background-color: hsl(218, 41%, 15%);
    color:hsl(218, 81%, 85%);
    border-radius: 10px;

}