@{
    ViewData["Title"] = "Following Posts";
}


<div class="container">    
    <h2 class="my-2">Following posts</h2>

    <div class="container border rounded my-3">
            
    </div>

</div>