@{
    ViewData["Title"] = "All Posts";
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container">    
    <h2 class="my-2">All posts</h2>
    <hr>
    @if (SignInManager.IsSignedIn(User))
    {     
        <div class="container w-100">
            <h4>New Post</h4>
                <form action="{% url 'newPost' %}" method="post">
                    <textarea name="content" id="newpost-content" class="w-100 form-control my-2 shadow-sm" placeholder="Let them know you're alive" rows="5"></textarea>
                    <input class="btn btn-primary" type="submit" value="Post">
                </form>       
        </div>
    }
    <div class="container border rounded my-3">
            
    </div>

</div>
