
.post-btn[b-yk28zcx561]{
    
    color: hsl(218, 81%, 85%);
    background-color: hsl(218, 41%, 15%);
}

.post-btn:hover[b-yk28zcx561]{
    background-color: hsl(218, 81%, 85%);
    color: hsl(218, 41%, 15%);
}

.post-card[b-yk28zcx561]{
    background-color: hsl(218, 41%, 15%);
    color:hsl(218, 81%, 85%);
    border-radius: 10px;

}